.main--regulations {
  height: auto;
  .container {
    text-align: left;
    padding: 0 2%;
    color: $border-color;
    .regulations {
      h1 {
        color: $main-color;
        padding: 2rem;
        text-align: center;
      }
      h3 {
        font-size: 1.2rem;
        padding: 0.4rem 0;
        color: $border-color;
      }
      p {
        color: $black-color;
      }
    }
  }
}

.return {
  a {
    font-size: 1.4rem;
    text-decoration: none;
    color: $border-color;
    &:hover {
      color: $main-color;
    }
  }
}
